package home

import "github.com/mharner33/dreamai/view/layout"

templ Index() {
    @layout.App(true){
        <html>
            <head>
                <title>Home</title>
            </head>
            <body>
                <h1>Home</h1>
                <p>Welcome to the home page.</p>
            </body>
        </html>
    }
}